#components-layout-demo-side .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}
.btn-start{
  background-color: pink;
  width: 120px;
  height: 50px;
  border-radius: 25px;
  color: white;
  border-style: none;
  font-size: 18px;
}